<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="/css/styles.css" type="text/css"> -->
        <meta charset="utf-8">
        <title>Shoe Brand Manager</title>
    </head>
    <body>
        <div class="container">
            <div class="well">
                {% block header %}
                <h1>Test Header</h1>
                {% endblock %}
            </div>
            <div class="row">
                <div class="col-md-4">
                    {% block controls %}
                    <h1>Test: form and nav content here</h1>
                    {% endblock %}
                </div>
                <div class="col-md-8">
                    {% block list %}
                    <h1>Test: list or display content here</h1>
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
