{% extends "3_panel_template.html.twig" %}


{% block header %}
    <h1>Shoe Portal</h1>
    <h4>Brand Distribution Management Tool</h4>
{% endblock %}


{% block controls %}

{% endblock %}



{% block list %}

{% endblock %}
